<div class="container-fluid px-5 py-4">
    <div class="card">
        <div class="card-header panel-libros-header">
            <header>
                <!-- Nabs & tabs  -->
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Panel Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Panel Usuarios</a>
                    </li>

                </ul>


            </header>
        </div>

        <div class="card-body">
            <FiltroLibros @filtrar="aplicarFiltros" @reset="resetFiltros" @cambio-texto="filtrarPorTexto" />
            <!--
             Filtros
            <div class="card mb-3 filtro-card">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <!-- Buscar (Título/Autor) 
                        <div class="col-12 col-lg-5">
                            <label class="form-label fs-5"><strong>Buscar (Título/Autor)</strong></label>
                            <input type="text" class="form-control" v-model="filtroTexto"
                                placeholder="Buscar libro..." />
                        </div>

                        <!-- Categoría 
                        <div class="col-6 col-lg-3">
                            <label class="form-label fs-5"><strong>Categoría</strong></label>
                            <div class="dropdown filtro-dropdown">
                                <button class="btn btn-dark dropdown-toggle w-100" type="button"
                                    data-bs-toggle="dropdown">
                                    {{ filtroCategoriaMostrar }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" @click="setCategoria('Todas')">Todas</button></li>
                                    <li><button class="dropdown-item" @click="setCategoria('Ficción')">Ficción</button>
                                    </li>
                                    <li><button class="dropdown-item" @click="setCategoria('Ciencia')">Ciencia</button>
                                    </li>
                                    <li><button class="dropdown-item"
                                            @click="setCategoria('Historia')">Historia</button></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Estado 
                        <div class="col-6 col-lg-2">
                            <label class="form-label fs-5"><strong>Estado</strong></label>
                            <div class="dropdown filtro-dropdown">
                                <button class="btn btn-dark dropdown-toggle w-100" type="button"
                                    data-bs-toggle="dropdown">
                                    {{ filtroEstadoMostrar }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" @click="setEstado('Todos')">Todos</button></li>
                                    <li><button class="dropdown-item"
                                            @click="setEstado('Disponible')">Disponible</button></li>
                                    <li><button class="dropdown-item" @click="setEstado('NoDisponible')">No
                                            disponible</button></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Botones 
                        <div class="col-12 col-lg-2 d-flex justify-content-center gap-2">
                            <button class="btn btn-dark" @click="aplicarFiltros">Filtrar</button>
                            <button class="btn btn-outline-dark" @click="resetFiltros">Reset</button>
                        </div>
                    </div>
                </div>
            </div>  -->


            <br /> <!-- Salto de línea entre el filtro y boton nuevo libro -->

            <div class="d-flex justify-content-between align-items-center">
                <h1>Lista de Libros</h1>
                <button class="btn btn-nuevo-libro btn-lg px-4" @click="nuevoLibro">
                    Nuevo Libro
                </button>

            </div>
            <hr />

            <!-- Si MockAPI no trajo Libros -->
            <div v-if="libros.length === 0">
                <h4 class="alert alert-secondary">Cargando libros desde MockAPI...</h4>
            </div>

            <!-- Cuando MockAPI ya cargo Libros -->
            <div v-else>
                <!-- Si el filtro dejó 0 resultados -->
                <div v-if="librosFiltrados.length === 0" class="alert alert-secondary text-center mt-3">
                    No se encontro ningún libro
                </div>
                <!-- Tabla de libros -->
                <div v-else>
                    <div class="table-responsive">
                        <table class="table tabla-libros align-middle">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>TITULO</th>
                                    <th>AUTOR</th>
                                    <th>CATEGORÍA</th>
                                    <th>AÑO</th>
                                    <th>STOCK</th>
                                    <th>DISPONIBLE</th>
                                    <th>FOTO</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(libro, index) in librosFiltrados" :key="libro.id">
                                    <td>{{ libro.id }}</td>
                                    <td><b>{{ libro.titulo }}</b></td>
                                    <td><b>{{ libro.autor }}</b></td>
                                    <td>{{ libro.categoria }}</td>
                                    <td>{{ libro.anio }}</td>
                                    <td>{{ libro.stock }}</td>
                                    <td>
                                        {{ libro.disponibilidad ? 'Sí' : 'No' }}
                                    </td>
                                    <td>
                                        <img :src="libro.foto" alt="Portada"
                                            style="width: 40px; height: 60px; object-fit: cover" />
                                    </td>
                                    <td>
                                        <button class="btn btn-dark my-1 me-2" @click="editarLibro(libro.id)">
                                            Editar
                                        </button>
                                        <button class="btn btn-color-eliminar my-1 me-2" @click="eliminarLibro(libro.id)">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <!-- <h4 v-else class="alert alert-secondary">
                Cargando libros desde MockAPI...
            </h4> -->
        </div>
    </div>
</div>