<div class="container-fluid px-5 py-4">
    <div class="card">
        <div class="card-header panel-libros-header">
            <header>
                <!-- Nabs & tabs - Nav-underline -->
                <ul class="nav nav-underline mb-4 admin-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: vistaActiva === 'libros' }" href="#"
                            @click.prevent="cambiarVista('libros')">
                            Panel Libros
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: vistaActiva === 'usuarios' }" href="#"
                            @click.prevent="cambiarVista('usuarios')">
                            Panel Usuarios
                        </a>
                    </li>
                </ul>


            </header>
        </div>

        <div v-if="vistaActiva === 'libros'">
            <div class="card-body">
                <!-- Componente FiltroLibros -->
                <FiltroLibros @filtrar="aplicarFiltros" @reset="resetFiltros" @cambio-texto="filtrarPorTexto" />

                <br /> <!-- Salto de línea entre el filtro y boton nuevo libro -->

                <div class="d-flex justify-content-between align-items-center">
                    <h1>Lista de Libros</h1>
                    <button class="btn btn-nuevo-libro btn-lg px-4" @click="nuevoLibro">
                        Nuevo Libro
                    </button>

                </div>
                <hr />

                <!-- Si MockAPI no trajo Libros -->
                <div v-if="libros.length === 0">
                    <h4 class="alert alert-secondary">Cargando libros desde MockAPI...</h4>
                </div>

                <!-- Cuando MockAPI ya cargo Libros -->
                <div v-else>
                    <!-- Si el filtro dejó 0 resultados -->
                    <div v-if="librosFiltrados.length === 0" class="alert alert-secondary text-center mt-3">
                        No se encontro ningún libro
                    </div>
                    <!-- Tabla de libros -->
                    <div v-else>
                        <div class="table-responsive">
                            <table class="table tabla-libros align-middle">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>TITULO</th>
                                        <th>AUTOR</th>
                                        <th>CATEGORÍA</th>
                                        <th class="text-center">AÑO</th>
                                        <th class="text-center">STOCK</th>
                                        <th class="text-center">DISPONIBLE</th>
                                        <th>FOTO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(libro, index) in librosFiltrados" :key="libro.id">
                                        <td>{{ libro.id }}</td>
                                        <td><b>{{ libro.titulo }}</b></td>
                                        <td><b>{{ libro.autor }}</b></td>
                                        <td>{{ libro.categoria }}</td>
                                        <td class="text-center">{{ libro.anio }}</td>
                                        <td class="text-center">{{ libro.stock }}</td>
                                        <td class="text-center">
                                            {{ libro.disponibilidad ? 'Sí' : 'No' }}
                                        </td>
                                        <td>
                                            <img :src="libro.foto" alt="Portada"
                                                style="width: 40px; height: 60px; object-fit: cover" />
                                        </td>
                                        <td>
                                            <button class="btn btn-dark my-1 me-2" @click="editarLibro(libro.id)">
                                                Editar
                                            </button>
                                            <button class="btn btn-color-eliminar my-1 me-2"
                                                @click="eliminarLibro(libro.id)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- VISTA USUARIOS PARA ADMIN -->
        <div v-else-if="vistaActiva === 'usuarios'">
            <AdminUser :key="vistaActiva" /> <!-- usamos key para refrescar el componente -->
        </div>
    </div>
</div>