<section class="back">
    <div class="contenedor centrar">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" id="btnradio1" value="login" v-model="pantallaActual">
            <label class="btn btn-outline-primary" for="btnradio1">Login</label>

            <input type="radio" class="btn-check" id="btnradio2" value="registro" v-model="pantallaActual">
            <label class="btn btn-outline-success" for="btnradio2">Registro</label>
        </div>

        <div class="mt-2">
            <LoginForm v-if="pantallaActual === 'login'" />
            <RegisterForm v-if="pantallaActual === 'registro'" />
        </div>
    </div>
</section>